.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.background-about {
  height: 100vh;
  align-content: center;
  background-image: url("https://mwlpdx.com/wp-content/uploads/2017/01/Dina-Avila_Multnomah-Whiskey-Library-135-scaled.jpg");
  background-repeat: no-repeat;
}

h2 {
  color: white;
}

p {
  color: white;
}
