.App {
  text-align: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .nav-padding {
  padding-top: 10px;
} */

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 2px;
}
