/* html {
  background: #faf7f2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
} */

.card-container-detail {
  margin: 25px auto 0;
  position: relative;
  max-width: 1000px;
  font-size: 10px;
  color: black;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.card-detail {
  flex-wrap: wrap;
  display: flex;
  border-radius: 15px;
  margin: 0 0 1rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.75);
}

.card-media {
  float: right;
  margin-left: 100px;
}

.card-title-detail {
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-shadow-detail {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
    0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

.subtle {
  color: #aaa;
}

.card-body {
  display: inline-block;
  float: left;
  width: 310px;
  flex-wrap: wrap;
  display: flex;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.list-group-item {
  border: none;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  color: white;
  margin: 0;
  padding: 0;
}

.dark-blue-bg {
  background-color: black;
}

.card-subtitle {
  color: white;
}

.card-title {
  color: white;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.star-container {
  max-height: 275px;
  max-width:200px; /* Set the maximum width of the star container */
  margin: 0 auto; /* Center the star container horizontally */
}
