@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url(https://images.unsplash.com/photo-1644924604597-373500f4cf28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container-login {
  height: 100vh;
  align-content: center;
  background-image: url("https://mybartender.com/wp-content/uploads/2023/05/a-bartender-holding-a-beaker-while-pouring-drinks-2048x1365.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-login {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header-login h3 {
  color: white;
  font-family: "Numans", sans-serif;
  text-align: center;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login {
  color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
  color: blue;
}

a:link {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.form-control{
  font-size: 12px;
}
