.custom-navbar {
  background-color: rgba(255, 0, 0, 0);
}

.dropdown-item {
  color: black;
}

.dropdown-header {
  color: black;
}

#navbarNav {
  color: white;
}

.navbar {
  color: white;
}

.navbar-brand{
    color: white;
}

.nav-item{
    color: white;
}
